<form>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="nome">Nome</label>
      <input type="text" maxlength="100" class="form-control" id="nome" />
    </div>
    <div class="form-group col-md-3">
      <label for="email">Email</label>
      <input maxlength="100" type="email" class="form-control" id="email" />
    </div>
    <div class="form-group col-md-2.5">
      <label for="cpf">CPF</label>
      <input maxlength="14" type="text" class="form-control" id="cpf" />
    </div>
    <div class="form-group col-md-2.5">
      <label for="celular">Celular</label>
      <input type="text" class="form-control" id="celular" />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="conhecimentos">Seus conhecimentos</label>
      <select required multiple class="form-control" id="conhecimentos">
        <option>Git</option>
        <option>React</option>
        <option>PHP</option>
        <option>NodeJS</option>
        <option>DevOps</option>
        <option>Banco de Dados</option>
        <option>Typescript</option>
      </select>
    </div>
  </div>
  <button (click)="handleValidar()" type="button" class="btn btn-success">
    VALIDAR
  </button>
  <button
    (click)="handleNotValidar()"
    style="margin-left: 5px"
    type="button"
    class="btn btn-danger"
  >
    NÃO VALIDAR
  </button>
</form>
